

    <!-- ======= Gallery Section ======= -->
   <section id="achievement" class="achievement bg-gray py-5">

    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-12 text-center mb-5">
            <div class="sec-heading2">  
                <h6>Achievement</h6>                  
                <h2>Successful Performance</h2>
            </div>
        </div>
    </div>
      
      
		  <div class="row gy-4">
  
			<div class="col-lg-6">
                    <img src="/assets/images/future-app.jpg" alt="future" class="img-fluid">
            </div>
  
			<div class="col-lg-6">
                    <img src="/assets/images/future-app2.jpg" alt="future" class="img-fluid">
            </div>
        </div>
      
      
      <!-- End Gallery Section -->
    </div>
</section>