{% assign testi = site.home.testimonials %}
{% if testi.enabled %}
<section class="section control bg-gray" id="story">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="sec-heading2">  
                    <h6>Our Story</h6>                  
                </div>
            </div>
        </div>
        <div class="row" id="testi">
            <div class="col-md-12">
                    <div class="testimonial-slider__text" style="text-align: center;">
                        April 2020, Lockdown was imposed due to COVID-19 and we had to shift to our native place(village). There we noticed that none of the schools were able to conduct classes and other academic activities.

                                    <br />
                                    <br />

                                    To Explore the problem I reached out to the school admin to figure out the issue, and I got the feedback that there are no good systems in the market that covers the good amount of required functionality, and the remaining few ones can satisfy the need though not fully but were very costly (which is tough to afford by lower to mid-range schools).

                                    <br />
                                    <br />

                                    Then there we strike this idea to come up with a system that will be free to use and will contain all the known required features plus a bit more to make conducting schooling activities in an easy and hassle-free manner.

                                    <br />
                                    <br />

                                    So to add more insights we reached out to other schools and tried to understand how they are operating in the COVID situation and felt that they are kind of feeling the same problem where infrastructure didn’t permit them to easily establish a digital presence and continue schooling in these tough times.

                                    <br />
                                    <br />

                                    And together with Arvind, we started brainstorming the problem statement and architected a solution that would result in a low infrastructure cost and could be highly scalable & responsive at the same time and we can deliver the solution software for free, maintain it and bridge the gap between schools and children and be able to break this digital divide.

                                    <br />
                                    <br />

                                    In the first phase of development, we just introduced the feature to onboard students & teachers and gave them the ability to conduct noise-free online classes. Immediately after that, we reached out to the same schools that we communicated with, prepared market releases, and onboarded these few schools.

                                    They started giving a lot of good feedback and we continued to implement them and kept on developing the next phase for introducing extra features such as homework & announcements.

                                    <br />
                                    <br />

                                    Proceeding with these we completed all the required features in 4 phases and connected 50+ schools. These onboarded schools are successfully using FutureApp to conduct online classes and academic activities like never before in a productive way, even much better than offline classes and that too for absolutely free.

                                    our vision is to connect as many schools (lower to mid-range schools) and provide service to them so that whatever happens, education will not be hampered in any situation and will in fact become more accessible to people.

                    </div>
            </div>
        </div>
    </div>
</section>

{% endif %}